@charset "UTF-8";

.common_div{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
}

.no_search{
	display: flex;
	padding-top: 20px;
}

.rent_wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 80px;
	width: 100%;
	height: 730px;
}

.title{
	display: flex;
	justify-content: center;
	width: 100%;
	font-size: 20px;
	font-weight: bolder;
	padding-top: 30px;
	padding-bottom: 25px;
}

.rent_list{
	display: flex;
	flex-direction: column;
	width: 80%;
}

.rent_area{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	color: #494949;
	padding-bottom: 15px;
	padding-top: 15px;
}

.rentImg, .rentImgs{
	height: 110px;
	width: 110px;
	border-radius: 5px;
}

.rent_info, .locker1{
	display: flex;
	flex-direction: column;
	font-size: 12px;
	padding-left: 35px;
	width: 43%;
}

.rent_name {
    display: flex;
    justify-content: flex-start;
    font-size: 100%;
    padding-bottom: 9px;
}

.rent_location{
	position: relative;
    padding-bottom: 9px;
}

.rent_password{
	display: flex;
    justify-content: flex-start;
    font-size: 100%;
}

.rent_info2, .locker2{
	display: flex;
	flex-direction: column;
	font-size: 12px;
	padding-left: 10px;
	width: 33%;
}

.rent_start {
    position: relative;
    padding-bottom: 9px;
}

.rent_end {
    position: relative;
    padding-bottom: 9px;
}

.rent_cost, .rent_profit{
	 position: relative;
}


.info1{
	position: relative;
    padding-bottom: 7px;
}

.info2{
	position: relative;
}

.reviewButton{
	display: flex;
	width: 12%;
	justify-content: flex-end;
}

.reviewWrite{
	font-size: 12px;
	cursor: pointer;
}

.reviewWrite:hover{
	color: #00BFFF;
}


.button_box{
	display: flex;
	flex-direction: column;
	width: 15%;
	font-size: 12px;
	line-height: 20px;
	cursor: pointer;
	align-items: flex-end;
}


.modifyBtn, .deleteBtn{
	width: 66px;
	color : #494949;
}

.modifyBtn:hover{
	color: #f64a8a;
}

.deleteBtn:hover{
	color: #00BFFF;
}




hr{
	margin: 0;
	width: 100%;
	border-left: hidden;
}

@media only screen and (max-width: 930px) {
	.rent_list{
		width: 90%;
	}
}



.no_search {
	margin-top: 40px;
	text-align: center;
	line-height: 35px;
}

.afont{
	font-weight: bolder;
}

