@charset "UTF-8";

.common_div{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 735px;
}

.no_search{
	display: flex;
	padding-top: 20px;
}

.review_wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 80px;
	width: 100%;
	height: 735px;
}

.title{
	display: flex;
	justify-content: center;
	width: 100%;
	font-size: 20px;
	font-weight: bolder;
	padding-top: 30px;
	padding-bottom: 25px;
}

.review_list{
	display: flex;
	flex-direction: column;
	width: 80%;
	align-items: center;
}

.review_area{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	color: #494949;
	padding-bottom: 15px;
	padding-top: 15px;
}

.reviewImg{
	height: 110px;
	width: 110px;
	border-radius: 5px;
}

.review_box{
	display: flex;
	flex-direction: column;
	padding-left: 30px;
	width: 50%;
}

.nameNick{
	display: flex;
	flex-direction:column;
}

.review_name {
    display: flex;
    justify-content: flex-start;
    font-size: 13px;
    font-weight: bolder;
}

.review_nick{
	display: flex;
	font-size: 12px;
}

.review_info{
	display: flex;
	flex-direction:column;
	font-size: 12px;
}

.review_score{
	display: flex;
}

.review_content{
	display: flex;
}

.review_date{
	display: flex;
	font-size: 10px;
	width: 20%;
	justify-content: flex-end;
}

.button_box{
	display: flex;
	flex-direction: column;
	width: 15%;
	font-size: 12px;
	line-height: 20px;
	cursor: pointer;
	align-items: flex-end;
}

.review_modify{
	display: flex;
	
}

.review_delete{
	display: flex;
}

.modifyBtn, .deleteBtn{
	width: 50px;
}

.modifyBtn:hover{
	color: #fc2071;
}

.deleteBtn:hover{
	color: #00BFFF;
}

hr{
	margin: 0;
	width: 100%;
	border-left: hidden;
}

.star {
    position: relative;
    font-size: 1.5rem;
    color: #ddd;
}
  
.star input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    opacity: 0;
    cursor: pointer;
}
  
.star span {
    width: 0;
    position: absolute; 
    left: 0;
    color: #f96199;
    overflow: hidden;
    pointer-events: none;
}

@media only screen and (max-width: 930px) {
	.review_list{
		width: 90%;
	}
}