@charset "UTF-8";

body{
	height: 100%;
}

.review_wrap{
    max-width: 100%;
    margin: 0 auto; 
    background-color: #fff;
    height: 500px;
    padding: 11px;
    box-sizing: border-box;
}

.review_title{
	display: flex;
	text-align: center;
	justify-content: center;
	font-size: 16px;
	font-weight: bolder;
	padding-top: 8px;
	color:#f51862;
}

.form_area{
	display: flex;
	justify-content: center;
	padding-top: 20px;
}

#frm_review{
	display: flex;
	flex-direction: column;
}

.review_area{
	display: flex;
}

.reviewImg{
	width: 150px;
	height: 150px;
	border-radius: 5px;
}

.review_info{
	display: flex;
	flex-direction: column;
	padding-left: 16px;
	font-size: 15px;
	justify-content: center;
}

.locker_title{
	display: flex;
	padding-bottom: 5px;
}

.rent_start{
	display: flex;
	padding-bottom: 5px;
}

.rent_end{
	display: flex;
}

.score_msg, .content_msg{
	color: red;
	font-size: 5px;
	text-align: center;
	display: flex;
	justify-content: center;
}

.starRev{
	width:100%;
	display: flex;
	justify-content: center;
	padding-top: 10px;
}

.review_contents{
	display: flex;
	flex-direction: column;
	padding: 10px 10px 11px;
	background-color: #f4f4f4;
	border: 1px solid #cbcbcb;
	margin-top: 10px;
	border-radius: 7px;
}

#content{
	resize: none;
	background-color: transparent;
	border: none;
}

textarea:focus {
	outline: none;
}

#counter{
	display: flex;
	justify-content: flex-end;
	color: gray;
	font-size: 12px;
}

.cmd{
	display: flex;
	justify-content: center;
	padding-top: 15px;
}

.saveDiv, .cancelDiv{
	width: 70px;
	height: 30px;
}

.save, .cancel{
	width: 60px;
	height: 30px;
	border-radius: 5px;
	border: none;
}

.save{
	background-color: #f64a8a;
	color: white;
}

.cancel{
	background-color: rgba(166, 166, 166, 0.67);
}

.save:hover{
	background-color: #fc2071;
    color: white;
}

.cancel:hover{
	background-color: rgba(54, 54, 54, 0.75);
    color: white;
}

.star {
    position: relative;
    font-size: 4rem;
    color: #ddd;
  }
  
  .star input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    opacity: 0;
    cursor: pointer;
  }
  
  .star span {
    width: 0;
    position: absolute; 
    left: 0;
    color: #f96199;
    overflow: hidden;
    pointer-events: none;
  }
