@charset "UTF-8";

body{
	background-color: white;
}

table{
	border-collapse: separate;
 	border-spacing: 0 10px;
}

.billigi{
	margin-top: 5px;
	margin-left: 10%;
	width: 1256px;
	height: 700px;
}


.title{
	font-weight: bold;
	font-size: 30px;
	font-family: 'Single Day', cursive;
	padding-top: 15px;
	padding-left: 30px
}

.contents{
	display: flex;
	padding-left: 30px;
	padding-top: 5px;
}

.outline{
	margin-left: 15px;
    border: 1px solid #d9d9d9;
    height: 600px;
    width: 450px;
}

.price-and-time{
	line-height: 27px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d8d8d8;
    width: 86%;
    margin-left: 8%;
}

.price{
	font-size: 24px;
    font-weight: bold;
    color: #ff4081;
}

.rental-contents{
	padding: 30px;
	padding-top: 10px;
	width:440px;
}



.locker-contents-title{
	width: 110px;
}
 
