@charset "UTF-8";

.billigi{
	margin-top: 150px;
	margin-left: 10%;
	width: 1356px;
	height: 700px;
	background-color: white;
}
.contents{
	display: flex;
}

.title{
	font-weight: bold;
	font-size: 30px;
	font-family: 'Single Day', cursive;
}

.pic{
	width: 800px;
	height: 800px;
}