@charset "UTF-8";

.review_wrap{
    max-width: 50%;
    margin: 0 auto; 
    background-color: #fff;
    height: 500px;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 100px;
}

.warning_msg {
    display: none;
    position: relative;
    text-align: center;
    background: #ffffff;
    line-height: 26px;
    width: 100%;
    color: red;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #e0e0e0;
}

.R1{
    background: url('/resources/images/star.png') no-repeat -52px 0;
    background-size: auto 100%;
    width: 15px;
    height: 30px;
    float:left;
    text-indent: -9999px;
    cursor: pointer;
}

.R2{
    background: url('/resources/images/star.png') no-repeat right 0;
    background-size: auto 100%;
    width: 15px;
    height: 30px;
    float:left;
    text-indent: -9999px;
    cursor: pointer;
}

.R1.on{background-position:0 0;}
.R2.on{background-position:-15px 0;}