@charset "UTF-8";

.searchInfo {
	display: flex;
	margin-top: 30px;
	margin-bottom: 40px;
	font-size: 18px;
}

.searchInfo a:hover {
	text-decoration: none;
	color: darkorange;
}

.keywordInfo {
	color: darkorange;
	border-bottom: 1px solid darkorange;
}

.no_search {
	margin-top: 40px;
	text-align: center;
	line-height: 35px;
}

hr{
	margin: 0;
	width: 98%;
	padding-bottom: 25px;
	border-left: hidden;
}

