@charset "UTF-8";

.juso{
	margin-left: 1100px;
	margin-top: -128px;
}

body{
	background-color: white;
}

.billyeojugi{
	margin-top: 5px;
	margin-left: 10%;
	width: 1500px;
	height: 600px;
}

.billyeojugi *{
	font-family: 'Noto Sans KR', sans-serif;
}


.title{
	top: 3px;
	padding-left: 30px;
	font-weight: bold;
	font-size: 30px;
	color: #87cefa;
}

.title-thanks{
	font-weight: bold;
	margin-left: 4px;
	font-size: 30px;
}

.contents{
	display: flex;
	padding-left: 30px;
	padding-top: 5px;
}

.pic{
    width: 890px;
    height: 550px;
}

.contents-form-reply{
	position: fixed;
	margin-left: 900px;
	margin-top: 50px;
}

.outline{
	margin-left: 101px;
	margin-top: -52px;
	border: 1px solid #d9d9d9;
	height: 432px;
	width: 438px;
}

.request-form{
	line-height: 27px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d8d8d8;
    width: 80%;
    margin-left: 10%;
}

.rent-contents{
	padding-top: 2px;
	padding-left: 47px
}

table{
	border-collapse: separate;
 	border-spacing: 0 10px;
}


input{
	margin-left: 30px;
}

select {
    margin-left: 30px;
    width: 188px;
}

#map{
	width: 440px;
	height:140px;
	margin-top:5px;
	margin-left: 101px;
	display: flex;
}

.request-form-text{
	font-size: 20px;
	font-weight: bold;
	color: #87cefa;
	margin-left: 50px;
}

.rent-contents-text{
	width: 110px;
}

.rent-contents-juso > input:nth-child(2), input:nth-child(3){
	margin-top: 10px;
}

.jusoBtn{
	color: #ffffff;
    width: 80px;
    height: 24px;
    background: #87cefa;
    border-radius: 25px;
    border: 0;
    cursor:pointer;
}


.inputFail{
	color: red;
}
 
 .submitButton{
 	margin-top: 10px;
    width: 300px;
    height: 35px;
    margin-left: 27px;
    border: 0;
    border-radius: 25px;
    background: #87cefa;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    cursor:pointer;
 }
 
