@charset "UTF-8";

body{
	background-color: white;
}

.billyeojugi{
	margin-top: 5px;
	margin-left: 10%;
	width: 1356px;
	height: 600px;
}

.billyeojugi *{
	font-family: 'Noto Sans KR', sans-serif;
}


.title{
	top: 3px;
	padding-left: 30px;
	font-weight: bold;
	font-size: 30px;
	color: #87cefa;
}

.title-thanks{
	font-weight: bold;
	margin-left: 4px;
	font-size: 30px;
}

.contents{
	display: flex;
	padding-left: 30px;
	padding-top: 5px;
}

.pic{
    width: 914px;
    height: 550px;
}

.outline{
	margin-left: 31px;
	margin-top: 63px;
	border: 1px solid #d9d9d9;
	height: 340px;
	width: 400px;
}

.word-of-thanks{
	line-height: 27px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d8d8d8;
    width: 80%;
    margin-left: 10%;
}

.word-of-thanks-text{
	font-size: 20px;
	font-weight: bold;
	color: #87cefa;
	margin-left: 42px;
}

.rent-contents{
	padding: 30px;
	padding-top: 10px;
}

input{
	margin-left: 30px;
}

table{
	border-collapse: separate;
 	border-spacing: 0 10px;
}


.rent-contents-text{
	width: 110px;
}

.inputFail{
	color: red;
}
 
 .submitButton{
 	margin-top: 10px;
    width: 300px;
    height: 30px;
    text-align: center;
    border: 0;
    border-radius: 25px;
    background: #87cefa;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
 }
 
