<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- 메인 리포지토리 등록  -->
  <mapper namespace="com.kh.billida.main.model.repository.MainRepository">

	<select id="getListPaging" resultType="com.kh.billida.main.model.dto.Main">
		<![CDATA[
        
	        select locker_id, user_code, locker_title, locker_content, locker_image, locker_size, locker_password, location, rentable_date_end, img_to_clob
	        from(
	                select /*+INDEX_DESC(locker) */ rownum as rn, locker_id, user_code, locker_title, locker_content, locker_image,
	                								locker_size, locker_password, location, rentable_date_end, img_to_clob
	                  
	                from locker where rownum <= #{pageNum} * #{amount} and 
	                				(locker_title like '%'||#{keyword}||'%' 
									 or locker_content like '%'||#{keyword}||'%' 
									 or location like '%'||#{keyword}||'%')
					)
	        where rn > (#{pageNum}-1) * #{amount}
    
   		]]>
		
	</select>
	
	<select id="getTotal" resultType="int">
		select count(*) from locker
		where locker_title like '%'||#{keyword}||'%' 
		or locker_content like '%'||#{keyword}||'%' 
		or location like '%'||#{keyword}||'%'
	</select>
	
	<select id="getLockerIds" resultType="com.kh.billida.main.model.dto.Main">
		<![CDATA[
			select v.locker_id
			from
				(select locker_id, avg(score) "평균"
				from review
				GROUP by locker_id
				HAVING locker_id is not null
				order by "평균" desc) v
			where rownum < 5
		]]>
	</select>
                
  
  </mapper>