<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- 메인 리포지토리 등록  -->
  <mapper namespace="com.kh.billida.main.model.repository.MainRepository">
  
	<select id="listAll" resultType="map">
		<![CDATA[
        
        select locker_id, user_code, locker_title, locker_content, locker_image, locker_size, locker_password, location, rentable_date from(
        
                select /*+INDEX_DESC(locker) */ rownum  as rn, locker_id, user_code, locker_title, locker_content, locker_image, locker_size, locker_password, location, rentable_date
                  
                from locker where rownum <= #{pageNum} * #{amount}) 
                
        where rn > (#{pageNum} -1) * #{amount}
    
    ]]>
		
	</select>
                
  
  </mapper>