<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- 맴버 리포지토리 등록  -->
  <mapper namespace="com.kh.billida.member.model.repository.MemberRepository">
  
  	<select id="selectPasswordByUserId" resultType="java.lang.String">
		select password from member where id = #{Id}
	</select>
  
  
  </mapper>