<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- 메인 리포지토리 등록  -->
  <mapper namespace="com.kh.billida.review.model.repository.ReviewRepository">
  
  	<select id="selectReviews" resultType="com.kh.billida.review.model.dto.RentHistoryAndLocker">
		  	select * 
			from rent_history r, locker l
			where history_index = #{historyIndex}
			and r.locker_id = l.locker_id
  	</select>

  
  	<insert id="insertReview">
  		insert into review(review_num, user_code, history_index, locker_id, content, score)
		values(review_num.nextval, #{userCode}, #{historyIndex}, #{lockerId}, #{content}, #{score})
  	</insert>
  
  	<select id="getListPaging" resultType="com.kh.billida.review.model.dto.RentHistoryAndLocker">
		<![CDATA[
	        select * 
	        from(
	        	select /*+INDEX_DESC(rent_history) */ rownum as rn, r.history_index, r.rent_start, r.rent_end, l.locker_title, l.locker_image
	          	from rent_history r, locker l where rownum <= #{pageNum} * #{amount} and r.user_code = #{userCode} 
	          										and r.locker_id = l.locker_id)
	        where rn > (#{pageNum} -1) * #{amount}
   		]]>
	</select>
  
  
  </mapper>