<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- 메인 리포지토리 등록  -->
  <mapper namespace="com.kh.billida.review.model.repository.ReviewRepository">
  
  	<select id="selectReviews" resultType="com.kh.billida.review.model.dto.RentHistoryAndLocker">
		  	select * 
			from rent_history r, locker l
			where history_index = 11
			and r.locker_id = l.locker_id
  	</select>

  
  
  </mapper>