<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
    
  <!-- 메인 리포지토리 등록  -->
  <mapper namespace="com.kh.billida.support.model.repository.SupportRepository">

	<select id="getReportListPaging" resultType="com.kh.billida.support.model.dto.Support">
		<![CDATA[
		select *
		from(select rownum as rb, report_idx, user_id, report_title, report_content, report_date, report_result
				from (select * from report_board order by report_idx desc) report_board where rownum <= #{pageNum} * #{amount})
		where rb > (#{pageNum} -1) * #{amount}
   		]]>
	</select>
	
	
	<select id="getListPagingforSearch" resultType="com.kh.billida.support.model.dto.Support">
		<![CDATA[
	        select * 
	        from(select rownum as rb, report_idx, user_id, report_title, report_content, report_date, report_result
	                from (select * from report_board order by report_idx desc) report_board where rownum <= #{pageNum} * #{amount}]]> <include refid="search"/><![CDATA[)
	        where rb > (#{pageNum}-1) * #{amount}
    	]]>
	</select>
	
	<sql id="search">
		<choose>
			<when test = "searchOption == 'all'">
				and 
					(user_id like '%'||#{keyword}||'%' 
					 or report_title like '%'||#{keyword}||'%')
			</when>			
			<otherwise>
				and (${searchOption} like '%'||#{keyword}||'%')
			</otherwise>
		</choose>
	</sql>		
  
  	<select id="getSearchTotal" resultType="int">
		select count(*)report_idx from report_board
			<choose>
				<when test="title eq empty"/>
				<when test="searchOption eq empty"/>
				<when test="searchOption == 'all'">
					where user_id like '%'||#{keyword}||'%' 
					or report_title like '%'||#{keyword}||'%' 
				</when>
				<otherwise>
					${searchOption} like '%'||#{keyword}||'%'
				</otherwise>
			</choose>
	</select>
  
  
  </mapper>