<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <title>SideBar sub menus</title>
</head>
<body>
<form action="https://private-anon-d1dda9c591-tossbutton.apiary-mock.com/transfer-web/linkgen-api/link" method="post">
은행이름<input type="text" id="bankName" name="bankName">
계좌<input type="text" id="bankAccountNo" name="bankAccountNo">
금액<input type="text" id="amount" name="amount">
<button>전송</button>
</form>
    	<script type="text/javascript">
	var request = new XMLHttpRequest();

	request.open('POST', 'https://private-anon-d1dda9c591-tossbutton.apiary-mock.com/transfer-web/linkgen-api/link');

	request.setRequestHeader('Content-Type', 'application/json');

	request.onreadystatechange = function () {
	  if (this.readyState === 4) {
	    console.log('Status:', this.status);
	    console.log('Headers:', this.getAllResponseHeaders());
	    console.log('Body:', this.responseText);
	  }
	};

	var body = {
	  'apiKey': 'dcf102a946024eafb1c3d61cbdba3c47',
	  'bankName': bankName,
	  'bankAccountNo': bankAccountNo,
	  'amount':amount ,
	  'message': '토스입금버튼'
	};

	request.send(JSON.stringify(body));
	
	</script>
</body>
</html>